<%- include("../header"); %>
<div class="col-12">
    <br>
    <h1>Productos En Almacen</h1>
	<br>
	<div class="input-group">
	   <span class="input-group-addon">Buscar &nbsp;</span>
       <input id="filtrar" type="text" class="form-control" placeholder="Ingresa el Nombre o Marca del Producto que deseas buscar...">
	</div>
	<br>
    <a href="/productos/agregar" class="btn btn-primary mb-2">Agregar</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
				<th>Marca</th>
				<th>Especificaciones</th>
                <th>Precio</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody class="buscar">
            <% productos.forEach(producto => { %>
            <tr>
                <td><%= producto.nombre %></td>
				<td><%= producto.marca %></td>
				<td><%= producto.especificaciones %></td>
                <td><%= producto.precio %></td>
                <td>
                    <a href="/productos/editar/<%= producto.id %>" class="btn btn-info">
                        Editar
                    </a>
                </td>
                <td>
                    <a href="/productos/eliminar/<%= producto.id %>" class="btn btn-danger">
                        Eliminar
                    </a>
                </td>
            </tr>
            <% })%>
        </tbody>
    </table>
</div>
<%- include("../footer"); %>