<%- include("../header"); %>
<div class="col-12">
    <br>
    <h1>Listado de Proveedores</h1>
	<br>
	<div class="input-group">
	   <span class="input-group-addon">Buscar &nbsp;</span>
       <input id="filtrar" type="text" class="form-control" placeholder="Ingresa el Nombre o Cédula del Proveedor que deseas buscar...">
	</div>
	<br>
    <a href="/proveedores/agregar" class="btn btn-primary mb-2">Agregar</a>
    <table class="table table-bordered">
        <thead>
            <tr>
			    <th>Rif</th>
                <th>Nombre</th>
				<th>Teléfono</th>
				<th>Dirección</th>
				<th>Contacto</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody class="buscar">
            <% proveedores.forEach(proveedor => { %>
            <tr>
                <td><%= proveedor.rif %></td>
				<td><%= proveedor.nombre %></td>
				<td><%= proveedor.telefono %></td>
                <td><%= proveedor.direccion %></td>
				<td><%= proveedor.contacto %></td>
                <td>
                    <a href="/proveedores/editar/<%= proveedor.id %>" class="btn btn-info">
                        Editar
                    </a>
                </td>
                <td>
                    <a href="/proveedores/eliminar/<%= proveedor.id %>" class="btn btn-danger">
                        Eliminar
                    </a>
                </td>
            </tr>
            <% })%>
        </tbody>
    </table>
</div>
<%- include("../footer"); %>